.container {
  margin: 75px 0;
}

.container h1 {
  font-family: BenguiatStd-Bold;
  font-weight: normal;
  font-style: normal;
  color: #000;
  text-align: center;
}

@media (min-width: 1024px) {
  .innerContainer {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .innerContainer button {
    width: 200px;
  }
}
