/* submitted  */
.reviewSubmitted {
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  border-bottom: 1px solid gold;
}

.reviewSubmitted svg {
  width: 34px;
  height: 34px;
  fill: gold;
  stroke: white;
}
