/* submitted  */
.reviewSubmitted {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease, opacity 0.3s ease;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}

.reviewSubmitted svg {
  width: 34px;
  height: 34px;
  fill: gold;
  stroke: white;
}

.reviewSubmitted.open {
  visibility: visible;
  opacity: 1;
  border-bottom: 1px solid gold;
}
