/* .container {
  border: 1px solid green;
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  align-items: center;
} */

nav.container {
  display: grid;
  grid-template-columns: [full-width-start] 25% [content-start] 1fr [content-end] 25% [full-width-end];
  grid-template-rows: 70px;
  border-bottom: 1px solid #000;
}

nav.container .left {
  grid-column: full-width-start;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

nav.container .middle h1 {
  font-family: BenguiatStd-Bold;
  font-weight: normal;
  font-style: normal;
  color: #000;
}

nav.container .middle {
  grid-column: content;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav.container .right {
  grid-column: content-end;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
nav.container .right .logD {
  display: none;
}

nav.container .right .logD button {
  all: unset;
}

nav.container .right .cart {
  position: relative;
}

.subLinks {
  display: flex;
  flex-direction: column;
  margin-left: 20px; /* Indent sub-links */
}

@media (min-width: 768px) {
  nav.container .right .logD {
    display: block;
  }
  nav.container .right .logM {
    display: none;
  }
}
