.reviewComments {
  margin: 0 auto;
  border-bottom: 1px solid gold;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px;
}

.reviewComments .date {
  display: flex;
  justify-content: space-between;
}

.review {
  padding: 20px;
  border-bottom: 1px solid gold;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.filledStar {
  stroke: gold;
  fill: gold;
}

.emptyStar {
  stroke: gold;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination .active {
  font-weight: bold;
  text-decoration: underline;
}
