/* styles.module.css */
.container {
  padding: 20px;
}

.container h1 {
  font-family: BenguiatStd-Bold;
  font-weight: normal;
  font-style: normal;
  color: #000;
  text-align: center;
  margin: 25px 0;
}

.product h3 {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}

.imgContainer {
  position: relative;
  height: 350px;
  width: 100%;
}

.slider {
  margin: 0 !important;
}

.slider > div > div {
  display: flex;
  gap: 25px;
}
@media (min-width: 1024px) {
  .slider > div > div {
    gap: 50px;
  }
}
